.message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.imageAndText {

}

.imageAndText img {
    width: 48px;
    height: 48px
}

.text {

}

.text:after {

}

.name {

}

.messageText {

}

.time {

}