.button {
}

.disabled {
    background-color: gray;
}

.secondary {
    background-color: dodgerblue;
}

.default {
    background-color: #00cc22;
}

.red {
    background-color: #cc0000;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
