.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    gap: 20px;
}

.number {
    font-weight: 600;
}
